<div class="content">

  <h2>
    <a href="">{{name}}</a>
  </h2>

  <img src="{{image}}" />

  <p>
    {{summary}}
  </p>

  <p>
  {{genre}}
  </p>

  <h3>Albums:</h3>
 <p> {{albums}}</p>

  <p><a href="/artist/{{ _id }}/edit">Edit artist</a></p>


  <div class="c-comments">
    <h3>Comments:</h3>
    {{#each comments}}
      <div class="comment">
        <p>
          {{comments}}
        </p>
        <span>
          by {{author}}
        </span>
      </div>
    {{/each}}
  </div>

  <div class="c-comment-form">
    <h3>New Comment:</h3>
    <form class="form" action="" method="POST">
      <div class="form__item">
        <h4 class="form__title">Comment: </h4>
        <textarea name="comment" rows="8" cols="40"></textarea>
      </div>
      <div class="form__item">
        <button type="submit" name="submit">Submit</button>
      </div>
    </form>
  </div>

</div>